#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include "pinkeybd-layer.dtsi"

#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

&lt {
    tapping-term-ms = <140>;
};

/ {
    behaviors {
        rot_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

            // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            // |      /      |      ,     |      .     |      -     |      ;     |    ESC     |                |            |      L      |      R      |      D      |      Y      |      P      |
            // |      A      |      O     |      E     |      I     |      U     |    LCTRL   |                |            |      G      |      N      |      T      |      S      |      K      |
            // |      X      |      C     |      V     |      W     |      Q     |    TAB     |                |      F     |      J      |      H      |      M      |      B      |      Z      |
            // |    L_ALT    |            |            |    LSIHT   | LOWER / En |    Space   |                |   ENTER    | LOWER2 / Ja |   R_SHIFT   |             |             |   NUMFUN_L  |
            // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        default_layer {
            bindings = <
                &kp Q        &kp W        &kp E        &kp R        &kp T        &kp ESC                        &kp Y        &kp U        &kp I        &kp O        &kp P
                &kp A        &kp S        &kp D        &kp F        &kp G        &kp RIGHT_WIN                  &kp H        &kp J        &kp K        &kp L        &kp SEMI
                &kp Z        &kp X        &kp C        &kp V        &kp B        &kp TAB                        &kp N        &kp M        &kp COMMA    &kp DOT      &kp FSLH
                &kp LSHIFT                             &kp LCTRL &lt LOWER LANG_ZENKAKUHANKAKU &kp SPACE &kp MINUS &kp ENTER &lt LOWER2 LANG_HIRAGANA     &kp RSHIFT   &mo NUM_L
            >;
            sensor-bindings = <&rot_kp PG_DN PG_UP>;
        };
    
            // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            // |     /       |      ,     |    END     |     -      |     ;      |    ESC     |                |            |   K_REDO    |   K_UNDO    |      ↑      |     [       |      ]      |
            // |     HOME    | C_AC_SAVE  |     D      |     F      |     G      |    LCTRL   |                |            |  Backspace  |      ←      |      ↓      |     →       |     DEL     |
            // |     UNDO    |    CUT     |   COPY     |   PASTE    |     B      |    TAB     |                |   PSCRN    |      N      |      M      |      ,      |     .       |      Z      |
            // |     L_SHIFT |            |            |  L_SHIFT   |    none    |    Space   |                |   ENTER    |   NUMFUN_L  |   R_SHIFT   |             |             |    R_CTR    |
            // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        Lower_layer {
            bindings = <
                &kp FSLH     &kp COMMA    &kp END      &kp MINUS    &kp SEMI     &kp ESC                        &kp K_REDO   &kp K_UNDO   &kp UP       &kp LBKT     &kp RBKT
                &kp HOME     &kp S        &kp D        &kp F        &kp G        &kp LCTRL                      &kp BSPC     &kp LEFT     &kp DOWN     &kp RIGHT    &kp DEL
                &kp K_UNDO   &kp K_CUT    &kp K_COPY   &kp K_PASTE  &kp B        &kp TAB                        &kp N        &kp M        &kp COMMA    &kp DOT      &kp Z
                &kp LSHIFT                             &kp LEFT_ALT &none      &kp SPACE            &kp PSCRN   &kp ENTER    &mo NUM_L    &kp RSHIFT                &kp RIGHT_CONTROL
            >;
        };

            // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            // |     /       |      ,     |    END     |     -      |     ;      |    ESC     |                |            |      L      |      R      |    PG_UP    |     {       |      }      |
            // |     HOME    |      O     |      E     |     I      |     U      |    LCTRL   |                |            |  Backspace  |    HOME     |    PG_DN    |    END      |    DEL      |
            // |     UNDO    |    CUT     |   COPY     |   PASTE    |     Q      |    TAB     |                |      F     |    ' / "    |    = / +    |    \ / |    |    ` / ~    |    INS      |
            // |     L_ALT   |            |            |   LSIHT    |   UTL_L    |    Space   |                |   ENTER    |    none     |   R_SHIFT   |             |             |   R_CTR     |
            // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        Lower2_layer {
            bindings = <
                &none        &kp N1       &kp N2       &kp MINUS    &kp SEMI     &kp ESC                        &kp L        &kp R        &kp PG_UP       &kp LBKT     &kp RBRC
                &kp HOME     &kp S        &kp D        &kp F        &kp G        &kp LCTRL                      &kp BSPC     &kp HOME     &kp PG_DN       &kp END      &kp DEL
                &kp K_UNDO   &kp K_CUT    &kp K_COPY   &kp K_PASTE  &kp B        &kp TAB                        &kp APOS     &kp EQUAL    &kp BSLH        &kp GRAVE    &kp INS
                &mo LEFT_ALT                           &kp LEFT_SHIFT &mo FUNC_L &kp SPACE         &kp F        &kp ENTER    &none        &kp RSHIFT                   &kp RIGHT_CONTROL
            >;
        };

            // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            // |    1 / !    |    2 / @   |    3 / #   |    4 / $   |   5 / %    |    none    |                |            |   6 / ^     |    7 / &    |    8 / *    |   9 / (     |    0 / )    | 
            // |     F1      |     F2     |     F3     |     F4     |    F5      |    none    |                |            |    F6       |     F7      |     F8      |    F9       |     F10     |
            // |     F11     |     F12    |     F13    |     F14    |    F15     |    none    |                |   none     |    F16      |     F17     |     F18     |    F19      |     F20     |
            // |     BT_L    |            |            |    LSIHT   | En / LOWER |    Space   |                |   ENTER    | Ja / LOWER2 |   R_SHIFT   |             |             |  RIGHT_WIN  |
            // -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        Num_layer {
            bindings = <
                &kp N1       &kp N2       &kp N3       &kp N4        &kp N5      &none                          &kp N6       &kp N7      &kp N8     &kp N9      &kp N0
                &kp LS(N1)   &kp LS(N2)   &kp LS(N3)   &kp LS(N4)    &kp LS(N5)  &none                          &kp RS(N6)   &kp RS(N7)  &kp RS(N8) &kp RS(N9)  &kp RS(N0)
                &none        &none        &none        &none         &none       &none                          &kp APOS     &kp EQUAL   &kp BSLH   &kp GRAVE   &kp INS
                &mo BT_L                               &kp LEFT_SHIFT  &none     &kp SPACE          &none       &kp ENTER    &none       &kp RSHIFT             &kp RIGHT_WIN
            >;
        };
            // ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            // |     F1      |     F2     |     F3     |     F4     |    F5      |    none    |                |            |    F6      |    F7      |    F8      |    F9       |     F10     |
            // |     F11     |     F12    |     F13    |     F14    |    F15     |    none    |                |   none     |    F16     |    F17     |    F18     |    F19      |     F20     |
            // |     none    |    none    |    none    |    none    |   none     |    none    |                |   none     |    none    |    none    |    none    |    none     |     none    |
            // |     none    |    none    |    none    |    none    |   none     |    none    |                |   none     |    none    |    none    |    none    |    none     |     none    |
            // ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        Func_layer {
            bindings = <
                &kp F1       &kp F2       &kp F3       &kp F4        &kp F5      &none                        &kp F6       &kp F7       &kp F8     &kp F9      &kp F10
                &kp F11      &kp F12      &kp F13      &kp F14       &kp F15     &none                        &kp F16      &kp F17      &kp F18    &kp F19     &kp F20
                &none        &none        &none        &none         &none        &none                       &none        &none        &none      &none       &none
                &none                                  &none         &none        &none             &none     &none        &none        &none                  &none
            >;
        };
            // --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            // |    none    |    none    |    none    |    none    |   none     |    none    |                  |            |    none    |    none    |    none    |   none     |    none    |
            // |  BT_SEL 0  |  BT_SEL 1  |  BT_SEL 2  |  BT_SEL 3  |   none     |    none    |                  |            |    none    |    none    |    none    |   BT_CLR   | BT_CLR_ALL |
            // |    none    |    none    |    none    |    none    |   none     |    none    |                  |    none    |    none    |   BT_PRV   |    none    |   BT_NXT   |    none    |
            // |    none    |    none    |    none    |    none    |   none     |    none    |                  |    none    |    none    |    none    |    none    |   none     |    none    |
            // --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        Bt_layer {
            bindings = <
                &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3  &bt BT_SEL 4 &bt BT_SEL 5                  &none        &none        &none        &bt BT_CLR   &bt BT_CLR_ALL
                &none        &none        &none        &none         &none        &none                         &none        &bt BT_PRV   &none        &bt BT_NXT   &none
                &none        &none        &none        &none         &none        &none                         &none        &none        &none        &none        &none
                &none                                  &none         &none        &none             &none       &none        &none        &none                     &none
            >;
        };
    };
};
